/*
 *  --------
 *   COLORS
 *  --------
*/

$color-creme: #E2E4DD;
$color-black: #242628;
$color-red: #ff2b2b;
$color-green: #00AA3C;

/*
 *  --------
 *   FONTS
 *  --------
 font-family: 'Chakra Petch', sans-serif;
 font-family: 'Exo 2',sans-serif;
 font-family: 'IBM Plex Mono', monospace;
 font-family: 'Red Hat Display', sans-serif;
*/

$font-text: 'Red Hat Display', sans-serif;
$font-logo: 'IBM Plex Mono', monospace;

$menu-transition: all 200ms ease-in;