/*
 *  --------
 *   COLORS
 *  --------
*/

$color-creme: #E2E4DD;
$color-black: #242628;
$color-red: #ff2b2b;
$color-green: #00AA3C;

/*
 *  --------
 *   FONTS
 *  --------
*/

$font-text: 'Chakra Petch',
sans-serif;
$font-logo: 'IBM Plex Mono', monospace;

$menu-transition: all 200ms ease-in;

/*
    * --------
    *   FONT SIZES
    * --------
*/

$font-size-small-headers: 1rem;
$font-size-large-headers: 1.5rem;
$font-size-small-text: 1rem;
$font-size-large-text: 1.5rem