@use "../abstracts";

.app {
    font-family: abstracts.$font-text;
    font-size: abstracts.$font-size-small-text;
    color: abstracts.$color-green;

    h2 {
        font-size: 1.2rem;
    }
    
    @media screen and (min-width: 500px) {
        
    }
}