@use "../abstracts";

.home {
    width: 100%;
    transition: abstracts.$menu-transition;

    &.menu-is-open {
        transform: translate(-50%);
    }

    @media screen and (min-width: 500px) {
        &.menu-is-open {
            transform: none;
            width: 100% - 25%;
        }
    }
}