@use "../abstracts";

.searchbar {
    width: 100%;
    position: relative;

    &__results-container {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: abstracts.$color-black;
        outline: 1px dashed abstracts.$color-green;
        width: 100%;
        margin: 0;
        padding: 0;
    }


    &__searchbar {
        width: 100%;
        padding: 10px;

        &:active,
        &:focus {
            outline: 2px solid abstracts.$color-green;
        }

    }

    @media screen and (min-width: 1000px) {
        width: 50%;
    }
}